{{> header}}
	<div class="home-container">
		<div>
			{{#each heroes}}
			<div id="heroes-container">
				<div><img class="hero-image" src="{{image}}" alt="{{name}}"></div>
				<div>Name : {{name}}</div>
				<div>Class : {{class}}</div>
				<div>Health : {{health}}</div>
				<div>Level : {{level}}</div>
				<div>Mana : {{mana}}</div>
				<div>Skills : {{#each skills}}</div>
					<span>type: {{type}}</span>
					<span>damage : {{damage}}</span>
			{{/each}}
			{{else}}
			<span>You don't have any heroes yet!</span>
			{{/each}}
		</div>
	</div>
{{> footer}}