{{> header}}
<div class="heroes-container">
		<div class="hero-container">
		{{#if loggedIn}}
		{{#each heroes}}
			<div class="hero">
		<img class="hero-image" src="{{image}}" alt="{{name}}">
		<div>Name : {{name}}</div>
				<div>Class : {{class}}</div>
				<div>Health : {{health}}</div>
				<div>Level : {{level}}</div>
				{{#if mana}}
				<div>Mana :{{mana}} </div>
				{{/if}}
				<div class="skills-label">Skills:</div>
				{{#each skills}}
				<div class='div-skills'>
				{{type}}, {{#if damage}} damage :{{damage}},
				{{else}} heal : {{heal}},
				{{/if}}
					{{#if rage}}
					rage: {{rage}}
					{{else}}
					MP cost:{{manaRequired}}
					{{/if}}
				</div>
				{{/each}}
				<div class="hero-buttons">
				<a href="/details/{{heroId}}"><button id="details-hero">Details</button></a>
				<a href="/enter-world/{{heroId}}"><button id="enter-world">Enter World</button></a>
				<a href="/delete/{{heroId}}"><button id="delete-hero">Delete</button></a>
				</div>
				
			</div>
			{{else}}
			<p>You don't have any heroes yet!</p>
			{{/each}}
			{{else}}
			<div class='guest-home'>
				<p class="guest-paragraph">Hello there , would you like to try out my new game :) ?</p>
			 	<a class='guest-link' href="/register">You can register here!</a>
				<a class='guest-link' href="/login">Already have an account?</a>
			</div>
			{{/if}}
	</div>
</div>
{{> footer}}
