{{> header}}
<div class="o-container-centered--row">
		<div class="o-container-centered--column">
		{{#if loggedIn}}
		{{#each heroes}}
			<div class="hero o-container-centered--column">
		<img class="hero__image" src="{{image}}" alt="{{name}}">
		<div>Name : {{name}}</div>
				<div>Class : {{class}}</div>
				<div>Health : {{health}}</div>
				<div>Level : {{level}}</div>
				{{#if rage}}
				<div>Rage :{{rage}} </div>
				{{/if}}
				{{#if mana}}
				<div>Mana :{{mana}} </div>
				{{/if}}
				{{#if energy}}
				<div>Energy :{{energy}} </div>
				{{/if}}
				<div class="hero__skills-label">Skills:</div>
				{{#each skills}}
				<div class='hero__skills'>

				{{type}}, Damage: {{damage}},

					{{#if energy}}
					Energy : {{energy}}
					{{/if}}

					{{#if rage}}
					Rage: {{rage}}
					{{/if}}

					{{#if mana}}
					MP cost:{{manaRequired}}
					{{/if}}
				</div>
				{{/each}}
				<div class="hero__cta-container">
				<a href="/details/{{heroId}}"><button id="details-hero">Details</button></a>
				<a href="/enter-world/{{heroId}}"><button id="enter-world">Enter World</button></a>
				<a href="/delete/{{heroId}}"><button id="delete-hero">Delete</button></a>
				</div>
				
			</div>
			{{else}}
			<p id="no-heroes-paragraph">You don't have any heroes yet!</p>
			{{/each}}
			{{else}}
			{{/if}}
	</div>
</div>
{{> footer}}
