{{> header}}
<div class="heroes-container">
		<div class="hero-container">
		{{#if loggedIn}}
		{{#each heroes}}
			<div class="hero">
		<img class="hero-image" src="{{image}}" alt="{{name}}">
		<div>Name : {{name}}</div>
				<div>Class : {{class}}</div>
				<div>Health : {{health}}</div>
				<div>Level : {{level}}</div>
				{{#if mana}}
				<div>Mana :{{mana}} </div>
				{{/if}}
				<label for="skills">Skills:</label>
				{{#each skills}}
				<div>{{type}}, damage: {{damage}},
					{{#if rage}}
					rage: {{rage}}
					{{else}}
					MP cost:{{manaRequired}}
					{{/if}}
				</div>
				{{/each}}
				<button id="enter-world"><a href="/enter-world"></a>Enter World</button>
			</div>
			{{else}}
			<p>You don't have any heroes yet!</p>
			{{/each}}
			{{else}}
			<p>You need to be logged to see your heroes!</p>
			{{/if}}
	</div>
</div>
{{> footer}}
