{{> header}}
<section class="heroes-wrapper">

		{{#if loggedIn}}
		{{#each heroes}}
			<section class="c-card-hero">
				<article class="c-card-hero__image-wrapper">
		<img class="c-card-hero__image-wrapper-image" src="{{image}}" alt="{{name}}">
				</article>
				<article class="c-card-hero__content">
		<article class="c-card-hero__content-name">Name : {{name}}</article>
				<article class="c-card-hero__content-class">Class : {{class}}</article>
				<article class="c-card-hero__content-health">Health : {{health}}</article>
				<article class="c-card-hero__content-level">Level : {{level}}</article>
				{{#if rage}}
				<article class="c-card-hero__content-rage">Rage :{{rage}} </article>
				{{/if}}
				{{#if mana}}
				<article class="c-card-hero__content-mana">Mana :{{mana}} </article>
				{{/if}}
				{{#if energy}}
				<article class="c-card-hero__content-energy">Energy :{{energy}} </article>
				{{/if}}
				<article class="c-card-hero__content-skills">Skills:</article>
				{{#each skills}}
				<article class='c-card-hero__content-skills-skill'>
				{{type}}, {{#if damage}}Damage:{{damage}},{{else}} Heal:{{heal}}{{/if}}
					{{#if energy}}
					Energy:{{energy}}
					{{/if}}

					{{#if rage}}
					Rage:{{rage}}
					{{/if}}

					{{#if mana}}
					MP cost:{{manaRequired}}
					{{/if}}
					</article>
				</article>
				{{/each}}
				<article class="c-card-hero__cta-container">
				<a class="c-card-hero__link" href="/details/{{heroId}}"><button class="btn btn--primary c-card-hero__button">Details</button></a>
				<a class="c-card-hero__link" href="/enter-world/{{heroId}}"><button class="btn btn--secondary c-card-hero__button">Enter World</button></a>
				<a class="c-card-hero__link" href="/delete/{{heroId}}"><button class="btn btn--primary c-card-hero__button">Delete</button></a>
				</article>
				
			</section>
			{{else}}
			<section class="c-card-hero__no-heroes">
			<h1 class="c-card-hero__no-heroes-title">You don't have any heroes yet!</h1>
			<article class="c-card-hero__no-heroes-links">
				<a href="/create-hero" class="c-card-hero__no-heroes-links-link"><button class="btn btn--primary">Create new Hero</button></a>
			</article>
			</section>
			{{/each}}
			{{else}}
			<section class="c-guest-homepage">
				<article class="c-guest-homepage__title">
				<span class="c-guest-homepage__title-character h1-like c-guest-homepage__title-character-1">H</span>
				<span class="c-guest-homepage__title-character h1-like c-guest-homepage__title-character-2">E</span>
				<span class="c-guest-homepage__title-character h1-like c-guest-homepage__title-character-3">R</span>
				<span class="c-guest-homepage__title-character h1-like c-guest-homepage__title-character-4">O</span>
				<span class="c-guest-homepage__title-character h1-like c-guest-homepage__title-character-5">E</span>
				<span class="c-guest-homepage__title-character h1-like c-guest-homepage__title-character-6">S</span>
				</article>
				<article class="c-guest-homepage__subtitle">
					<p class="c-guest-homepage__subtitle-text">the beginning</p>
					<span class="c-guest-homepage__subtitle-text-border"></span>
					<a href="/register">
					<button class="btn btn--fancy btn--big btn--shiny c-guest-homepage__subtitle-button">Play now</button>
					</a>
				</article>
			</section>
			{{/if}}
</section>
{{> footer}}
